<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <!-- Import bootstrap via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/bubblemapstyles.css" type="text/css" />
        <title>Vote Count Graphs</title>
    </head>

    <body>
      <nav class="navbar navbar-custom">
        <div class="container-fluid">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#myNavbar"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">2020 US Election</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="../index.html">Home</a></li>
              <li><a href="tables.html">About Me</a></li>
            </ul>
          </div>
        </div>
      </nav>
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center" style="margin-top: 50px; margin-bottom: 0px">
        Bubble Map Of The 2020 US Presidential Election
      </h1>
      <h3 class="text-center" style="margin-top: 0px; margin-bottom: 0px">
        (Radius of bubble = number of votes from county)
      </h3>
    </div>
  </div>
      <div id="plot"></div>

    <form>
      <select name="interval" id="ddlViewBy" onchange="this.form.submit()">
        <option value="1">Joe Biden</option>
        <option value="2" selected="selected">Donald Trump</option>
      </select>
    </form>
    
  </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12" id="bubblemap">
          </div>
        </div>
      </div>
    
      </div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="https://unpkg.com/topojson-client@3"></script>
<script type="text/javascript" src="../js/startercode2.js"></script>


<body>
</html>


