<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- Import bootstrap via CDN -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Load plotly.js CDN -->
    <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>

    <link rel="stylesheet" href="../css/styles.css" type="text/css" />
    <title>Elections 2020 Visualization</title>
  </head>
  <body>
    <nav class="navbar navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Elections 2020</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../index.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Graphs <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="pieCharts.html">Pie Chart</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="bubblemap.html">Bubble map</a></li>
              </ul>
            </li>
            <li><a href="tables.html">Tables</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row text-center">
        <h2>States vs No.of Votes Registered</h2>
        <div
          class="col-md-2 col-md-offset-3 col-sm-12 nopadding"
          id="pieChart"
          style="width:800px;height:500px"
        ></div>
      </div>
    </div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="../js/pieChart.js"></script>
  </body>
</html>
