<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- Import bootstrap via CDN -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" type="text/css" />
    <link rel="stylesheet" href="../css/table.css" type="text/css" />

    <title>Elections 2020 Visualization</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Elections 2020</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../index.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Graphs <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="pieCharts.html">Pie Chart</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="bubblemap.html">Bubble map</a></li>
              </ul>
            </li>
            <li><a href="tables.html">Tables</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Tabular data -->
    <div class="container-fluid">
      <h2 class="text-center">2020 Election Data</h2>
      <h3 class="text-center">
        Candidate's Countywise Election Data
      </h3>
      <div class="row" id="table1"></div>
      <h3 class="text-center">Total Votes Recorded in Each State</h3>
      <div class="row mt-4" id="table2"></div>
      <h3 class="text-center">Countywise Current Votes</h3>
      <div class="row mt-4" id="table3"></div>
    </div>
    <!-- Importing new Gridjs library's jquery integration for pagination and tabulation-->
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>

    <script src="../js/tablePagination.js"></script>
  </body>
</html>
